*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 155px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999999;
  background-color: rgb(255, 255, 255);
}
.nav .nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
  font-size: 3rem;
}
.nav .nav-mobile__list {
  position: absolute;
  width: 100%;
  background-color: rgb(51, 51, 51);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  z-index: 1000;
}
.nav .nav-mobile__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav-mobile__list li a {
  padding: 1.5em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.nav .nav-mobile__list li a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
}
.nav .show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.nav-desktop {
  position: sticky;
  display: none;
  padding: 0 1.2em;
}
.nav-desktop__title {
  font-size: 3rem;
}
.nav-desktop__title:hover {
  cursor: pointer;
}
.nav-desktop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.nav-desktop__list li {
  padding: 2em 0;
}
.nav-desktop__list a {
  padding: 2em;
  text-decoration: none;
  color: rgb(51, 51, 51);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.nav-desktop__list a:hover {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.header {
  position: relative;
  height: 40vh;
  margin-top: 0px;
  background-image: url("/dist/img/jungle-S.jpg");
  background-size: cover;
  background-position-y: 70%;
  z-index: -9999;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.565);
}
.header__title {
  position: absolute;
  top: 50%;
  padding: 1em;
  font-size: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgb(255, 255, 255);
}
.header__title span {
  font-weight: 300;
}

.about {
  padding: 1.5em 0em;
}
.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5em;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__box img {
  width: 100%;
  padding: 0 2em 1em;
}
.about__box-description {
  padding: 0 2em;
}
.about__box-description h3 {
  margin: 0.8em 0;
}
.about__box-description p {
  line-height: 1.5em;
}

.adventure {
  position: relative;
  width: 100%;
  padding: 4em 0;
  margin-top: 1.5em;
  background-image: url("/dist/img/girl-S.jpg");
  background-size: cover;
  background-position-y: 50%;
}
.adventure__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
}
.adventure__frame::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.565);
}
.adventure__frame p {
  font-weight: bold;
  padding: 1em 2em;
  border: 1px solid rgb(255, 255, 255);
  z-index: 1000;
}

.offers {
  padding: 1.5em 0em;
}
.offers__title h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.offers__title p {
  padding: 0em 1.5em;
  font-weight: 400;
  text-align: center;
  padding: 1.5em 0;
}
.offers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.offers__container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin-bottom: 2em;
  padding: 1em 0;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
          box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
}
.offers__container .card:hover {
  scale: 0.95;
  -webkit-box-shadow: 0px 0px 5px 3px rgb(68, 212, 68);
          box-shadow: 0px 0px 5px 3px rgb(68, 212, 68);
}
.offers__container .card__title {
  text-align: center;
  padding-bottom: 1em;
}
.offers__container .card__title p {
  font-size: 2.2rem;
  margin-bottom: 0.5em;
}
.offers__container .card__title span {
  font-weight: bold;
}
.offers__container .card__title span:nth-of-type(1) {
  font-size: 4rem;
}
.offers__container .card__title span:nth-of-type(2) {
  font-size: 3.4rem;
}
.offers__container .card__title-standard span:nth-of-type(2), .offers__container .card__title-premium span:nth-of-type(2) {
  vertical-align: -10%;
}
.offers__container .card__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: none;
}
.offers__container .card__list li {
  padding: 0.5em 0;
}
.offers__container .card__list i {
  margin-right: 1em;
}
.offers__container .card__list .fa-check {
  color: rgb(68, 212, 68);
}
.offers__container .card__list .fa-minus {
  color: rgb(167, 167, 167);
}
.offers__container .card__btn {
  margin-top: 2em;
  padding: 0.5em 1em;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
          box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
  width: 80%;
  font-size: 1.8rem;
  color: rgb(109, 107, 107);
  -webkit-transition: scale 0.3s, -webkit-box-shadow 0.3s;
  transition: scale 0.3s, -webkit-box-shadow 0.3s;
  transition: scale 0.3s, box-shadow 0.3s;
  transition: scale 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.offers__container .card__btn:hover {
  cursor: pointer;
  scale: 0.95;
  -webkit-box-shadow: 0px 0px 5px 3px rgb(68, 212, 68);
          box-shadow: 0px 0px 5px 3px rgb(68, 212, 68);
}
.offers__container .card__btn-standard {
  border: none;
  background-color: rgb(68, 212, 68);
  -webkit-box-shadow: 0px 0px 5px 3px rgb(68, 212, 68);
          box-shadow: 0px 0px 5px 3px rgb(68, 212, 68);
  color: rgb(51, 51, 51);
}
.offers__extra {
  padding: 0em 1.5em;
  text-align: center;
}
.offers__extra p {
  font-size: 1.8rem;
}
.offers__extra span {
  position: relative;
  text-decoration: underline;
  text-decoration-color: rgb(68, 212, 68);
  z-index: 0;
}
.offers__extra span:hover {
  cursor: pointer;
  text-decoration: none;
}
.offers__extra span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: rgb(68, 212, 68);
  z-index: -1;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.offers__extra span:hover::after {
  height: 100%;
}

.summary {
  padding: 1.5em 0em;
  background-color: rgb(235, 233, 233);
}
.summary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.summary__logo {
  font-size: 3rem;
}
.summary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2em 0;
}
.summary__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2em 0;
}
.summary__list-item h4 {
  padding: 1em 0;
}
.summary__list-item p:hover {
  cursor: pointer;
  color: rgb(109, 107, 107);
}

.special-offer {
  padding: 1.5em;
}
.special-offer-title {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.special-offer__box {
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
          box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
  padding: 1.5em;
  margin: 3em 0;
}
.special-offer__box-graphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.special-offer__box-graphic img {
  max-width: 60%;
  margin-bottom: 1em;
}
.special-offer__box-graphic button {
  width: 80%;
  padding: 0.5em 1em;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
          box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
  font-size: 1.8rem;
  color: rgb(109, 107, 107);
  -webkit-transition: scale 0.3s, -webkit-box-shadow 0.3s;
  transition: scale 0.3s, -webkit-box-shadow 0.3s;
  transition: scale 0.3s, box-shadow 0.3s;
  transition: scale 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.special-offer__box-graphic button:hover {
  cursor: pointer;
  scale: 0.95;
  -webkit-box-shadow: 0px 0px 5px 3px rgb(68, 212, 68);
          box-shadow: 0px 0px 5px 3px rgb(68, 212, 68);
}
.special-offer__box-describe h3 {
  padding: 1em 0;
  text-align: center;
  font-size: 2.2rem;
}
.special-offer__box-describe p:nth-of-type(3) {
  text-align: center;
  font-size: 2.2rem;
  color: rgb(167, 167, 167);
  text-decoration: line-through;
}
.special-offer__box-describe p:nth-of-type(4) {
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
}

.contact {
  padding: 3em;
}
.contact h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1.5em;
}
.contact__container {
  -webkit-box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
          box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
  padding: 1.5em;
}
.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__info-title {
  text-align: center;
}
.contact__info-title h3 {
  padding-bottom: 1em;
}
.contact__info-adress {
  padding: 1em 0;
  text-align: center;
  list-style: none;
}
.contact__info-adress li {
  padding: 0.5em 0;
}
.contact__info-adress i {
  margin: 0 0.5em;
}
.contact__form, .contact__form-name, .contact__form-subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.contact__form label, .contact__form-name label, .contact__form-subject label {
  margin: 1em 0;
  margin: 1em 0;
}
.contact__form input, .contact__form-name input, .contact__form-subject input {
  border: none;
  border-bottom: 2px solid rgb(109, 107, 107);
  padding: 1em 0;
  width: 100%;
}
.contact__form textarea, .contact__form-name textarea, .contact__form-subject textarea {
  border: none;
  border-bottom: 2px solid rgb(109, 107, 107);
  resize: vertical;
  max-height: 200px;
}
.contact__form-btn, .contact__form-name-btn, .contact__form-subject-btn {
  padding: 1em 0.5em;
  margin-top: 2em;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
          box-shadow: 0px 0px 5px 3px rgb(167, 167, 167);
  font-size: 1.8rem;
  color: rgb(109, 107, 107);
  -webkit-transition: scale 0.3s, -webkit-box-shadow 0.3s;
  transition: scale 0.3s, -webkit-box-shadow 0.3s;
  transition: scale 0.3s, box-shadow 0.3s;
  transition: scale 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.contact__form-btn:hover, .contact__form-name-btn:hover, .contact__form-subject-btn:hover {
  cursor: pointer;
  scale: 0.95;
  -webkit-box-shadow: 0px 0px 5px 3px rgb(68, 212, 68);
          box-shadow: 0px 0px 5px 3px rgb(68, 212, 68);
}

footer {
  padding: 1em 0;
  text-align: center;
  background-color: rgb(235, 233, 233);
  border-top: 1px solid rgb(167, 167, 167);
}

@media (min-width: 450px) {
  .offers__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offers__container .card {
    width: 60%;
  }
  .offers__container .card__btn {
    font-size: 2rem;
  }
}
@media (min-width: 576px) {
  .header h1 {
    font-size: 2.4rem;
  }
  .about__title {
    font-size: 2rem;
  }
  .adventure__frame p {
    padding: 1em 5em;
    font-size: 2rem;
  }
  .offers__title h2 {
    font-size: 2rem;
  }
  .offers__title p {
    font-size: 1.8rem;
  }
  .offers__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offers__container .card {
    width: 40%;
  }
  .offers__container .card__btn {
    font-size: 2rem;
  }
  .summary__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .summary__list-item {
    padding: 0.2em 2em;
  }
  .special-offer-title {
    font-size: 2.6rem;
  }
  .special-offer__box {
    padding: 1em;
  }
  .special-offer__box-graphic img {
    max-width: 50%;
  }
  .special-offer__box-graphic button {
    width: 50%;
  }
  .special-offer__box-describe h3 {
    font-size: 2.6rem;
  }
  .special-offer__box-describe p:nth-of-type(2) {
    padding-bottom: 1em;
    font-size: 2rem;
  }
  .special-offer__box-describe p:nth-of-type(3) {
    font-size: 2.2rem;
  }
  .special-offer__box-describe p:nth-of-type(4) {
    font-size: 8rem;
  }
}
@media (min-width: 768px) {
  .header h1 {
    font-size: 2.8rem;
  }
  .about__title {
    font-size: 2.6rem;
  }
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__box img {
    width: 50%;
    padding: 0 2em 1em;
  }
  .about__box-description {
    padding: 0 1em;
  }
  .about__box-description h3 {
    font-size: 2.4rem;
    margin-top: 0;
  }
  .adventure__frame p {
    font-size: 2.6rem;
    padding: 1em 6em;
  }
  .offers__title h2 {
    font-size: 2.6rem;
  }
  .offers__title p {
    font-size: 2rem;
  }
  .offers__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1em 4em;
  }
  .offers__container .card {
    margin-right: 0.5em;
    width: 35%;
  }
  .offers__extra {
    padding: 0em 1.5em;
  }
  .offers__extra p {
    font-size: 2rem;
  }
  .summary__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .summary__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 4rem;
    width: 50%;
  }
  .summary__list-item {
    padding: 0.2em 0.5em;
  }
  .summary__list-item h4 {
    font-size: 1.8rem;
  }
  .summary__list-docs {
    padding: 0.2em 1em;
  }
  .special-offer-title {
    font-size: 2.6rem;
  }
  .special-offer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1em;
  }
  .special-offer__box-graphic {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .special-offer__box-graphic img {
    max-width: 80%;
  }
  .special-offer__box-graphic button {
    width: 80%;
  }
  .special-offer__box-describe {
    border-left: 3px solid rgb(235, 233, 233);
    padding: 0 1em;
  }
  .special-offer__box-describe h3 {
    font-size: 2.6rem;
    padding: 0;
    text-align: left;
  }
  .special-offer__box-describe p:nth-of-type(2) {
    padding-bottom: 2em;
    font-size: 2rem;
  }
  .special-offer__box-describe p:nth-of-type(3) {
    font-size: 2.2rem;
  }
  .special-offer__box-describe p:nth-of-type(4) {
    font-size: 8rem;
  }
  .contact__form-btn {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .nav .nav-mobile {
    display: none;
  }
  .nav .nav-mobile__list li {
    display: none;
  }
  .nav .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header {
    height: 45vh;
    background-image: url("/dist/img/jungle-XL.jpg");
  }
  .header h1 {
    font-size: 2.8rem;
  }
  .about__box-description p {
    line-height: 2.2rem;
  }
  .adventure {
    background-image: url("/dist/img/girl-XL.jpg");
  }
  .offers__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offers__container .card {
    width: 30%;
  }
  .offers__container .card__title p {
    font-size: 2.4rem;
  }
  .offers__container .card__title span:nth-of-type(1) {
    font-size: 4.2rem;
  }
  .offers__container .card__title span:nth-of-type(2) {
    font-size: 3.6rem;
  }
  .summary__list-item {
    padding: 0.2em 1em;
  }
  .summary__list-docs {
    padding: 0.2em 2em;
  }
  .contact h2 {
    font-size: 2.6rem;
  }
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__info {
    padding: 0 0.5em;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact__form {
    padding: 0 0.5em;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact__form-name {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__form-username {
    padding-right: 1em;
  }
}
@media (min-width: 1200px) {
  .header h1 {
    font-size: 3rem;
  }
  .adventure {
    padding: 6em 0em;
  }
  .adventure__frame p {
    font-size: 2.6rem;
    padding: 1em 10em;
  }
  .offers__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offers__container .card {
    width: 25%;
  }
  .offers__container .card__title p {
    font-size: 2.6rem;
  }
  .offers__container .card__title span:nth-of-type(1) {
    font-size: 4.4rem;
  }
  .offers__container .card__title span:nth-of-type(2) {
    font-size: 3.8rem;
  }
  .summary__list-item {
    padding: 0.2em 2em;
  }
  .summary__list-docs {
    padding: 0.2em 4em;
  }
}/*# sourceMappingURL=style.css.map */